/*font*/
@import url(https://fonts.googleapis.com/css?family=Lato);
html, body{
    font-family: 'Lato';
    height: 100%;
     overflow:hidden;
}
/*sections*/
.first{
    background: url(../img/ex1.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height: 100%;
    width: 33%;
    float: left;
    position: absolute;
}

.second{
    background: url(../img/ex.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    float: right;
    width: 52%;
    height: 100%;
    position: relative;
    margin-right: -115px;
    z-index: 1;

}
.third{
      background: url(../img/ex3.png
      ) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    float: right;
    position: relative;
    width: 33%;
    height: 100vh;
    z-index: 2;
}

/*buttons*/

.connexion{
    float: right;
    background-color: #1b87be;
    width: 160px;
    height: 37px;
    border-style: none;
    color: white;
    vertical-align: middle;
    font-size: 14px;
    font-family: 'Lato';
    margin-left: 87%;
    position: fixed;
    top: 2%;
    left: 0;
    z-index: 9999;
}

.connexion2{
    float: left;
    background-color: #1b87be;
    width: 160px;
    height: 37px;
    border-style: none;
    color: white;
    vertical-align: middle;
    font-size: 14px;
    font-family: 'Lato';
    margin-left: 1%;
    position: fixed;
    top: 2%;
    left: 0;
    z-index: 9999;
}

img, .mid{
    margin: 55% 0 0 30%;
}
.mid{
    margin: 15px 0 0 20%;
    background-color: #1b87be;
    width: 169px;
    height: 47px;
    border-style: none;
    color: white;
    vertical-align: middle;
    font-size: 16px;
    font-family: 'Lato';
}
.third>img{
    margin: 52% 0 0 51%;
}
.third .bt3{
    margin-left: 40%
}
.second>img{
    margin: 35% 0 0 45%
}
.second>button{
    margin: 12px 0 0 39%;
}
button:hover{
    cursor: pointer;
}
@media screen and (min-width: 1920px)
{
    .first{width: 35%;}
    .second{
    width: 59%;
    margin-right: -247px;
    }
    .connexion{margin: 10%;}
    .mid{margin: 15px 0 0 -20%;}
    img{margin: 80% 0 33px 30%;}
    .second>button {
    margin: 10px 0 0 41%;}
    .second>img {
    margin: 47% 0 0 45%;}
    .third>img {
    margin: 55% 0 0 59%;}
    .third>button {
    margin-left: 50%;}
}

.touche{
    margin-left: 27%;
    position: absolute;
    top: 786px;
    z-index: 1;
}

.upper{
    width: 76%;
    display: block;
    height: 42px;
    background-color: #1b87be;
    z-index: -1;
}

.upper:hover{
    cursor: pointer;
}

.upper>button{
    float: right;
    border: none;
    height: 42px;
    background-color: #1b87be;
}
.upper>button>img{
    margin: 0;
}
.upper>h3{
    color: white;
    text-align: center;
    padding-top: 16px;
}
.bot{
    background-color: #fff;
    width: 76%;
    height: 233px;
    color: #1b87be;
}
.sub{
    display: inline-block;
    width: 100%;
    height: 20px;
    margin-bottom: 7%;
}
.sub>p{
    text-align: center;
    padding: 10px 0 10px;
    font-size: 15px;
}
.sub>p:first-child{
    float: left;
    width: 50%;
}
.sub>p:nth-child(2){
    float: right;
    width: 50%;
}
.controls{
    float: left;
    width: 50%;
    height: 92%;
}
.alpha, .arrow{
    float: left;
    margin-top: 65px;
    margin-left: 20px
}
.alpha>ul>li, .arrow>ul>li{
    height: 15%;
    width: 18px;
    border: 2px solid #1b87be;
    padding: 6px;
    display: inline-block;
    text-align: center;
}
.alpha>ul>li:last-child, .arrow>ul>li:last-child{
    display: block;
    text-align: center;
    width: 20px;
    margin: 0 auto;
    margin-top: -65%;
}
.arrow{
    float: right;
}
.arrow>ul>li:nth-child(2){
    transform : rotate(-90deg);
}
.arrow>ul>li:last-child{
    transform : rotate(-90deg);
}
.actions{
    float: left;
    width: 50%;
    height: 92%;
}
.actions>p{
    padding: 20px;
    text-align: center;
}
.actions>p>span{
    border: 2px solid #1b87be;
    margin: 0 0 0 30px;
    padding: 4px 10px;
}
.actions>p>span:first-child{
    padding: 4px 24px;
}