@import url(https://fonts.googleapis.com/css?family=Lato);

body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

/** HOME PAGE **/

/** PREMIERE PAGE **/

.transparence{
    background-color: rgba(47, 47, 47, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

.classHomeVideo{
    width: 100%;
    z-index: -5;
    margin-top: -125px;
    max-height: 1300px;
}

.homeVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
}

#premierePage{
    width: 100%;
    height:100vh;
}

#premierePage video{
    position: absolute;
}

.logo{
    top: 32px;
    margin-left: 2%;
    position: absolute;
    z-index: 0;
}

.logo img{
    width: 60%;
    height: auto;
}

.fondBlanc{
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.envol{
    top: 0;
    width: 100%;
    position: absolute;
    display: block;
    transform: translate(44%,45%);
    text-decoration: none;
    font-size: 21px;
    color: #1b87de;
    text-transform: uppercase;
}

#premierePage h1{
    margin-top: 10%;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
}

#premierePage h1:after{
    content: '';
    background-color: white;
    display: block;
    width: 120px;
    height: 1.5px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 65px;
}

.texteHeader{
    color: white;
    line-height: 30px;
    width: 60%;
    height: 180px;
    margin: 0 auto;
    font-weight: 100;
}

.texteHeader span{
    font-weight: bold;
}

.jouer{
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    color: white;
    text-decoration: none;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #1b87de;
    padding-top: 5px;
    box-sizing: border-box;
}

.scrollez{
    position: absolute;
    width: 100%;
    transform: translate(42%,42%);
    bottom: 20px;
    color : white;
    z-index: 5;
}

.scroll{
    width: 10px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 12%;
    bottom: 20px;
    z-index: 8;
}

#premierePage nav{
    position: absolute;
    width: 100%;
    bottom: 16px;
    z-index: 3;
}

#premierePage nav ul li{
   display: inline-block;
    margin-left: 5%;
}

#premierePage nav ul li:first-child{
    display: inline-block;
    margin-left: 2%;
}


#premierePage nav ul li a{
    text-decoration: none;
    color:#1b87de;

}


.hoverBlanc{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 20%;
    height: auto;
    z-index: 1;
}

.hoverBleu{
    bottom:0;
    left: 0;
    position: absolute;
    width: 20%;
    height: auto;
    z-index: 2;
    opacity: 0;
}

.fondPafBlanc{
    bottom: -0.5px;
    left: 50px;
    position: absolute;
    width: 31%;
    height: auto;
    z-index: -2;
}

.fondPafBleu{
    bottom: -0.5px;
    left: 50px;
    position: absolute;
    width: 31%;
    height: auto;
    z-index:0;
    opacity: 0;
}



/** LE SALON DU BOURGET **/

#salon{
    width: 100%;
    height: 380px;
    background-image: url('img/fondSalon.png');
    background-color: #fff;
}

.gauche{
    float: left;
    margin-left: 15%;
    width: 50%;
}

.droite{
    position: absolute;
    right: 0;
    width: 50%;
}

.droite img{
    width: 100%;
    height: auto;
    min-width: 640px;
    max-height: 380px;
}

.gauche img{
    width: 100%;
    height: auto;
    min-width: 640px;
    max-height: 380px;
}

#salon h2{
    padding-left: 0;
    font-size: 26px;
    padding-top: 60px;
    box-sizing: border-box;
    color: #1b87de;
}


.description{
    font-size: 12px;
    width: 60%;
    height: 245px;
    line-height: 18px;
    padding-top:65px;
    box-sizing: border-box;
    padding-left: 0;
    white-space: pre-line;
}

.description span{
    font-weight: bold;
}

#presentation{
    margin-top: 5px;
    width: 100%;
    height: 380px;
    background-image:url('img/fondtransp.png');
    background-size: cover;
}

#presentation h2{
    margin-right: 41%;
    padding-right: 0;
    font-size: 26px;
    padding-top: 60px;
    box-sizing: border-box;
    color: #1b87de;
}

#presentation .gauche{
    margin-left: 0px;
}

#presentation .droite{
float: right;
}

#presentation .description{
    text-align: right;
}

#video{
    clear: both;
    margin-bottom: 5px;
}

#patrouille{
    clear: both;
}

#patrouille h2{
    padding-left: 0;
    font-size: 26px;
    padding-top: 60px;
    box-sizing: border-box;
    color: #1b87de;
    padding-left: 15%;

}

#patrouille .description{
    padding-left: 15%;
    width: 70%;
}

#patrouille button{
    background-color:#1b87de;
    width: 250px;
    height: 50px;
    margin-top: 65px;
    margin-left: 15%;
    border: none;
    color : white;
    text-transform: uppercase;
    position: relative;
}

.chaine{
    margin-left: 6%;
    position: absolute;
}

footer{
    margin-top: 65px;
    background-color:#1b87de;
    height: 300px;
    padding-top: 65px;
}

footer h2 {
    color : white;
    padding-left: 15%;
}

footer input {
    margin-top: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 100;
}

footer input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: white;
}


footer input:focus
{ outline:none;
}

.barre
{
    position:relative;
    display:block;
    width: 205px;
    margin-left: 15%;
    margin-top: -1px;
}
.barre:before, .barre:after     {
    content:'';
    height:3px;
    width:0;
    position:absolute;
    background:white;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.barre:before {
    left:50%;
}
.barre:after {
    right:50%;
}

footer input:focus ~ .barre:before, input:focus ~ .barre:after {
    width:50%;
}

.fleche{
    position: absolute;
    margin-left: 32%;
    margin-top: -1.8%;
}

.soumettre{
    position: absolute;
    margin-left: 32%;
    margin-top: -1.8%;
    width: 20px;
    height: 20px;
}

footer nav{
    display: inline-block;
    margin-top: 65px;
    width: 75%;
}

footer nav ul li {
    display: inline-block;
    margin-left: 8%;
}

footer nav ul li:first-child {
    margin-left: 20%;
}

footer nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

footer .logo{
    display: inline-block;
    position: relative;
    top: 20px;
    margin-left:5%;
}


/** PAGE PROFIL PILOTE **/

.classProfilVideo{
    width: 100%;
    z-index: -5;
    margin-top: -125px;
    position: absolute;
}



.profil{
    float: left;
    width: 85%;
    margin-right: 5%;
    margin-top: 55px;
    margin-left: 70%;
}

.gras{
    font-weight: 600;
}

.photo{
    margin-top: -35px;
    width: 15%;
    height: auto;
    float: right;
    margin-right: -4%;
}

.photo img{
    width: 70px;
    height: auto;
}

.statistiques{
    margin-top: 15%;
    clear: both;
    width: 30%;
    float: left;
    margin-left: 10%;
}


.titre{
    clear: both;
    width: 280px;
    height: 25px;
    background-color: #1b87de;
    padding-left: 10px;
    padding-top: 5px;
    box-sizing: border-box;
}

.tableau{
    width:280px;
    height: 140px;
    background-color: white;
    color:#1b87de;

}

.tableau ul{
    padding-top: 10px;
}

.tableau ul li{
    padding-top: 10px;
    margin-left:45px;
}

.points{
    line-height: 30px;
    margin-top: 20%;
    float: right;
    width: 30%;
    margin-right: 28%;
}

.rangImage{
    width: 20px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}


/** PAGE CLASSEMENT DU JOUEUR **/


.classClassementVideo{
    width: 100%;
    margin-top: -125px;
    z-index: 0;
}

.logoClassement{
    position: absolute;
    top: 32px;
    margin-left: 2%;
    z-index: 1;
}

.logoClassement img{
    width: 60%;
    height: auto;
}

.leftClassement{
    color: white;
    width: 40%;
    float: left;
    margin-left: 12%;
}
.lots{margin-top: 60px;
    font-size: 20px;
    color: white;}
.place{
    margin-top: 50px;
    font-size: 25px;
}
.rightClassement{
    width: 30%;
    margin-right: 100px;
    float: right;
    font-size: 22px;
}
.rightClassement span{
    font-weight: 700;
}
.rightClassement p{
    margin-bottom: 15px;
}

.classement{
    position: absolute;
    top : 30%;
    width: 100%;
}
table{
    width: 100%;
}
th{

    background-color:#1b87de;
}
tr th {
    margin-right: 5px;
}

.leftClassement h1{
    font-size:  22px;
    margin-bottom: 20px;
}

.separate{
    font-size: 25px;
}